
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.main-main{
  display: flex;
  align-items: center;
  background-color: #161616;
  height: 600px;
  width: 80%;
  border-radius: 15px;
  color: white;
  margin: 40px;
  padding: 30px;
  margin: 60px auto 0px auto;
}

.img-main img{
  margin-top: 66px;
  height: 600px;
  width: 100%;
}
.one{
  border-radius: 10px;
  background-color: #161616;
  height: 230px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.one div{
  text-align: center;
  margin: 18px 0px;
  align-items: center;
}

.basic-div{
  display: flex;
}

.lll{
  box-shadow: 0 0 20px -18px;
  width: 70%;
  border-radius: 5px;
}

.lll img{
  width: 100%;
}

.span-img img{
  height: 22px;
  width: 22px;
  margin-left: 20px;
}

.fle{
  display: flex;
}

.one{
  margin-left: 160px;
}

.gridd{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 24px;
  place-items: center; 
}

.flexxi{
  display: flex;
}

.flexxi .rr{
  margin-left: 5px;
}

.footer{
  background-color: #161616;
  color: white;
  height: 200px;
  text-align: center;
}


.footer h1{
  padding-top: 40px;
}

hr{
  width: 60%;
  border: none;
  height: 1px;
  background-color: white;
}


.footer a{
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-weight: 300;
}

.lll a{
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 0px 5px;
  border-radius: 4px;
}

.lol {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.one-one a{
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 4% 0%; 
  
}

.one-one-t a{
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 4% 15%;
}



.one-one-h a{
  text-decoration: none;
  color: black;
  background-color: red;
  border-radius: 5px;
  color: white;
  padding: 4% 22%;
}


.one  .one-one{
  text-decoration: none;
  color: #161616;
}


.hidd{
  display: none;
  background-color: #DD0000;
  padding: 1px 15px;
  width: 120px;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 110px;
  text-align: center;
  color: white;
  font-weight: 700;
}


.main{
  width: 50%;
}

.main a{
  text-decoration: none;
  background-color: #DD0000;
  color: white;
  padding: 10px 20px;
}



/* Mobile Device*/
@media only screen and (max-width: 688px) {
  .main-main{
    flex-direction: column;
    min-height: 10%;
    
    width: 80%;
   }

   .footer a{
    display: block;
   }

   .footer{
     height: 400px;
   }

   .main-main img{
    width: 100%;
   }
     
   .main{
    width: 100%;
    text-align: center;
   }
   .img-main img{
    height: 284px;
    width: 240px;
   }

   .basic-div{
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
   }
   .one{
    flex-direction: column;
    background-color: white;
    margin:  0 auto;
   }

   

   .one-one a{
    border: 1px solid lightgray;
   }

   .one-one-h a{
    border: 1px solid lightgray;
   }

   .one-one-t a{
    border: 1px solid lightgray;
   }

   .one-one-t a{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 4% 15%;
   }

  
   .gridd{
    flex-direction: column;
    grid-template-columns: repeat(1,1fr);
   }
}

/* Tablet Devices */
@media only screen and (min-width: 689px) and (max-width:992px) {
  .main-main{
    flex-direction: row;
    height: 100%;
    
    width: 80%;
   }
   
   .two{
      grid-template-columns: repeat(2,1fr);
      margin:  0 auto;
   }
   .img-main img{
    width: 100%;
   }

   .hidd{
    display: block;
    background-color: #DD0000;
    padding: 1px 15px;
    width: 120px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 110px;
    text-align: center;
    color: white;
    font-weight: 700;
  }

   .basic-div{
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
   }
   .one{
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    background-color: white;
    margin:  0 auto;
   }


   .one-one a{
    border: 1px solid lightgray;
    padding: 5px 50px;
   }

   .one-one-h a{
    border: 1px solid lightgray;
    padding: 5px 50px;
   }

   .one-one-t a{
    border: 1px solid lightgray;
    padding: 5px 50px;
   }

   .one{
    height: 0%;
    margin-bottom: 30px;
   }

  
   .gridd{
    flex-direction: column;
    grid-template-columns: repeat(2,1fr);
   }

   .main-main{
    display: flex;
    align-items: center;
    background-color: #161616;
    height: 500px;
    width: 80%;
    border-radius: 15px;
    color: white;
    margin: 40px;
    padding: 30px;
    margin: 60px auto 0px auto;
  }

  .img-main img{
    width: 100%;
    margin-top: 66px;
    height: 500px;
  }
}